Flask==0.9
Flask-CDN==1.1.0
Flask-Compress==1.0.2
Flask-RESTful==0.2.12
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
aniso8601==0.83
argparse==1.2.1
boto==2.29.1
dynamodb-mapper==1.8.1
onctuous==0.5.84
pytz==2014.4
selenium==2.42.1
six==1.7.3
wsgiref==0.1.2
