{% extends 'base.html' %}

{% block content %}
<img src="../static/img/png/logo128.png" height="128" width="128" class="img-responsive center-block" alt="Numerologia WS" />
<br />

<div class="row">
    <div class="col-lg-8 col-centered">
            <form action="" method="post">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Nome" name="nome" autocomplete="off"/>
                    <span class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit" disabled="disabled">Analisar</button>
                    </span>
                </div> <!-- /.input-group -->
           </form>
    </div><!-- /.col-lg-8 -->
</div><!-- /.row -->

{% if analise %}
<div class="row">
    <h3><strong>{{ analise.nome }}</strong>
    <br/>
    {% if analise.resultado == 'EXCELENTE' %}             
        <span class="label label-success">{{ analise.resultado }}</span>
    {% elif analise.resultado == 'BOM' %}
        <span class="label label-info">{{ analise.resultado }}</span>
    {% elif analise.resultado == 'RUIM' %}
        <span class="label label-warning">{{ analise.resultado }}</span>
    {% elif analise.resultado == 'PÉSSIMO' %}
        <span class="label label-danger">{{ analise.resultado }}</span>
    {% else %}
        <span class="label label-default">{{ analise.resultado }}</span>
    {% endif %}
    </h3>
</div><!-- /.row -->
{% endif %}

{% endblock %}
