<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Numerologia WS</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">

      <div class="starter-template">
        <h1>Numerologia WS</h1>
        <p class="lead">Análise de nomes simples, direta e sem propagandas.</p>

        <div class="col-lg-6">         
            <form action="" method="post" role="form">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Digite o nome a ser analisado..." name="nome" >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" disabled="disabled">Analisar!</button>
                    </span>
                </div><!-- /input-group input-group-lg -->
             </form>
        </div><!-- /.col-lg-6 -->

        {% if analise %}
        <h1>Nome: {{ analise.nome }}</h1>
        <h1>Resultado: {{ analise.resultado }}</h1>
        {% endif %}

      </div><!-- /.starter-template-->

      
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){ 
            jQuery('input[type=text]').keypress(function (e) {
	            var allowedChars = new RegExp("^[a-zA-ZÀ-ú\\s]+$");
	            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
	            if (allowedChars.test(str)) {
		            return true;
	            }
	            e.preventDefault();
	            return false;		    
	        }).keyup(function() {
                var forbiddenChars = new RegExp("[^a-zA-ZÀ-ú\\s]", 'g');
                if (forbiddenChars.test(jQuery(this).val())) {
                    jQuery(this).val(jQuery(this).val().replace(forbiddenChars, ''));
                }
                this.value = this.value.toLocaleUpperCase();
                if (jQuery(this).val() != '') { 
                    jQuery('button[type=submit]').removeAttr('disabled');
                } else{                    
                    jQuery('button[type=submit]').attr('disabled','disabled');
                }
            });
        });
    </script>
  </body>
</html>

